<h1>Listing all articles</h1>
<% if current_user.try(:admin) %>
   <p>
   <%= link_to "Create new article", new_article_path %>
   </p>
   <%end %>
  <table>
   <tr>
    <th>Title</th>
    <th>Description</th>
   </tr>
  
   <% @articles.each do |article| %>
   
   <tr>
   
     <td><%= link_to article.title, article_path(article) %></td>
      <td><%= link_to article.description, article_path(article) %></td>
      
      <td><%= link_to "Read More", article_path(article) %> </td>
    </tr>
  
    
 <% end %>
 </table>