// *= require trix

@import "bulma";
@import "functions";
@import "jobs";
@import "stripe";

.notification {
  border-radius: 0;
}

.notification:not(:last-child) {
  margin-bottom: 0;
}

.hint {
  font-size: small;
}

.tag {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 9px !important;
}
.appLogo {
  max-width:75%;
}

.bg-light {
  background-color:#00adee;
}

.footer {
  background-color:#474747;
}

.navbar-item .button {
  background-color:#00adee;
  border-style:none;
  color:#fff;
  font-weight:bold;
}

.contractButton {
  background-color:#ed8c00 !important;
  border-style:none;
  color:#fff;
}

.homepageBanner {
  
  background-image: url("https://xrloadedstorage.s3.amazonaws.com/XR-Loaded+-bannerHero.jpg");
  background-repeat: no-repeat;
  background-position: 90% 55%;
  background-size: contain;
  background-color:#fff;
  padding-top:25px;
}

.signUpButton {
  background-color:#fff;
  color:#00adee;
}
/*----Mobile Styling ----*/
@media only screen and (max-width: 900px) {
  .appLogo {
 width:25% !important;
 margin-top:10px !important;
}

}
@media only screen and (max-width: 768px) {
#leftsideButtonsColumn {
  margin-right:0;
}
}
@media only screen and (max-width: 768px) {
  #noShowOnMobile {
 display:none !important;
}
}

@media only screen and (min-width: 768px) {
 #ShowOnMobile {
 display:none !important;
}
}

.footer .container{
  width:50%;
  margin-left:0;
}



#footerImage {
  
  margin-top:20px;
  width:25%;
}
.footerText {
  font-size:10px;
}

.footer {
  padding-top:20px !important;
  padding-bottom:20px !important;
}
@media only screen and (max-width: 768px) {
#footerImage {
  margin-top:20px;
  width:55%;
}
}

.media-content {
  overflow:hidden;
}

.index-title a  {
  color:#00adee;
  
}

.footerTextLabels {
  font-size:20px;
  color:#00adee !important;
}

.footerTextLinks {
  font-size:14px;
  
}

#email {
  padding:10px;
  min-width:250px;
  white-space: pre; 
}

#subscribe #submitButton {
  background-color:#fbee53;
  padding-top:10px;
  padding-bottom:10px;
  border-radius:90px;
  padding-left:30px;
  padding-right:30px;
  font-weight:strong;
  border-style:none;
  font-size:16px !important;
  margin-left:10px;
  cursor: pointer;
  color:#00adee;
  
}

#subscribe #submitButton:hover {
  color:#000;
}

 #subscribe {
  display:flex;
  justify-content: center;
  margin-top:15px;
}
@media only screen and (max-width: 520px) {
    #subscribeForm {
      display:none;
    }
    #subscribeForm2{
      display:block;
    }
    
   #submitButtonMobile{
      background-color:#fbee53;
      padding-top:10px;
      padding-bottom:10px;
      border-radius:90px;
      padding-left:30px;
      padding-right:30px;
      font-weight:strong;
      border-style:none;
      font-size:16px !important;
      margin:0 auto;
      display:block;
      margin-top:0px;
      cursor: pointer;
}
     #subscribe {
    
      border-width:1px;
      margin-bottom:-10px;
    }
    #bannerHeroText {
      font-size: 3rem;
    }
    
    .homepageBanner {
      background-position: 90% 7%;
      padding-top:20px;
}

.ctaButton, .ctaButton2 {
  
  padding-bottom:35px;
  padding-top:10px;
}

    
}
@media only screen and (min-width: 520px) {
   #subscribeForm2 {
      display:none;
  }
    #subscribeForm {
      display:block;
  }
  
  #desktopButtonMargin {
    margin-right:10px;
  }
}

#listCTA {
  font-size:16px;
  font-weight:bold;
  margin-top:20px;
}

.ctaButton {
  background-color:#00adee;

  text-align:center;
  color:#fff;
  border-style:none;
}

.ctaButton:hover {
 
  background-color:#f0fcff;
  color:#00adee;
}
.box {
  box-shadow:none;
  border-style:none;
  background-color:#f0fcff;
}

.ctaButton2 {
  background-color:#fbee53;
  color:#00adee;
  text-align:center;
  border-style:none;
}
.ctaButton2:hover {
 
  background-color:#f0fcff !important;
  color:#00adee;
}