// *= require trix

@import "bulma";
@import "functions";
@import "jobs";
@import "stripe";

.notification {
  border-radius: 0;
}

.notification:not(:last-child) {
  margin-bottom: 0;
}

.hint {
  font-size: small;
}

.tag {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 9px !important;
}
.appLogo {
  margin-top:10px;
}

.bg-light {
  background-color:#1c2838;
}

.footer {
  background-color:#1c2838;
}

.navbar-item .button {
  background-color:#f2b41c;
  border-style:none;
  color:#1c2838;
  font-weight:bold;
}